<h3>Personal Information:</h3>

<div>
  <p>Name: <b>{{user.first_name}} {{user.last_name}}</b></p>
  <p>Age: <b>{{user.age}}</b></p>
  <p><b>ROLE: {{user.role}}</b></p>
</div>

<form method="GET" action="/api/session/logout">
  <input type="submit" value="Logout" />
</form>
