<form method="POST" action="/api/session/login">
  <label>
    Email:
    <input type="email" name="email" placeholder="example@mail.com" value=""/>
  </label>
  <br />
  <label>
    Password:
    <input type="password" name="password" placeholder="********" value=""/>
  </label>
  <br />
  <input type="submit" value="Login" />
</form>

<p>Not account? <a href="/api/users/register">Register!</a></p>
