<h3>Personal Information:</h3>

<div>
  <p>Name: <b>{{first_name}} {{last_name}}</b></p>
  <p>Age: <b>{{age}}</b></p>
  <p><b>ROLE: {{role}}</b></p>
</div>

<form method="GET" action="/api/session/logout">
  <input type="submit" value="Logout" />
</form>
