<form method="POST" action="/api/session/register">
  <label>
    First name:
    <input type="text" name="first_name" placeholder="jane" />
  </label>
  <br />
  <label>
    Last name:
    <input type="text" name="last_name" placeholder="doe" />
  </label>
  <br />
  <label>
    Age:
    <input type="number" name="age" placeholder="26" />
  </label>
  <br />
  <label>
    Email:
    <input type="email" name="email" placeholder="example@mail.com" value=""/>
  </label>
  <br />
  <label>
    Password:
    <input type="password" name="password" placeholder="********" value=""/>
  </label>
  <br />
  <label>Rol:
    <select name="role">
      <option value="USER">USER</option>
      <option value="ADMIN">ADMIN</option>
      <option value="PREMIUM">PREMIUM</option>
      <option value="GUEST">GUEST</option>
    </select>
  </label><br><br>
  <input type="submit" value="Crear" />
</form>

<p>Already have account? <a href="/api/users/login">Login!</a></p>
